@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    /* background-color: white; */
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}


/* フッター
------------------------------- */
footer {
  background: rgb(0, 0, 0);
  text-align: center;
  padding: 26px 0;
  position: absolute;
  border-top: 1px solid #000;
  width: 100%;
  left: 0;
  
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}


/* 
hamburger(ハンバーガーアイコン)
=================================== */
.hamburger {
    position: absolute;
    right: 5%;
    top: 40%;
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
    transition: all .5s;
  }
  
  .hamb-line {
    position: absolute;
    width: 50px;
    height: 3px;
    right: 0;
    background-color: #fff;
    transition: all 0.5s;
  }
  

  .hamburger__line--1 {
    top: 0%;
  }
  
  .hamburger__line--2 {
    top: 50%;
  }
  
  .hamburger__line--3 {
    top: 100%;
  }
  
  /*ハンバーガーがクリックされたら*/
  .open .hamburger__line--1 {
    transform: rotate(-135deg);
    top: 11px;
  }
  
  .open .hamburger__line--2 {
    opacity: 0;
  }
  
  .open .hamburger__line--3 {
    transform: rotate(135deg);
    top: 11px;
  }
  
  /* 
  sp-nav(ナビ)
  =================================== */
  .sp-nav {
    position: fixed;
    right: 0%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
    top: 0;
    width: 70%; /* 出てくるスライドメニューの幅 */
    height: 100vh;
    background-color: #000;
    transition: all 0.5s;
    z-index: 200;
    opacity: 0;
    padding: 1% 10% 10% 1%;
    visibility: hidden;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
  }

.sp-nav ul {
  list-style: none;
  
}

.sp-nav ul li {
    color: #fff;
    text-align: center;
    margin-top: 5%;
    width: 100%;
    padding: 1% 1% 1% 0%;
    box-shadow: 0 5px 100px rgb(11, 197, 221);
    margin-bottom: 1%;
    /* border-radius: 100px; */
  }
.sp-nav ul li:hover {
  transform: scale(1.0, 1.0);
  transition: transform 0.5s;
}

.sp-nav ul a {
  font-size: 1.7rem;
}

.sp-nav a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.sp-nav a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #0bd;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.335, 1) 0.4s;
  content: "";
}
.sp-nav a:hover:after {
  transform: translate(0, 0);
}
.sp-nav a:hover {
  color: #0bd;
}

.sp-nav ul p {
  text-align: center;
}
  
  /*ハンバーガーがクリックされたら右からスライド*/
  .open .sp-nav {
    opacity: 1;
    visibility: visible;
  }
  
  
  /* 
  black-bg(ハンバーガーメニュー解除用bg)
  =================================== */
  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
  }
  
  /*ハンバーガーメニューが開いたら表示*/
  .open .black-bg {
    opacity: 0.3;
    visibility: visible;
  }


.sp-nav a {
  color: #fff;
  font-size: 1.5rem;
}

.delayItem {
  opacity: 0;
  visibility: hidden;
  transition: all 2.0s;
}
.delayItem.show {
  opacity: 1;
  visibility: visible;
}


/*-------opening------  */

.opening-curtain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  color: #000;
  z-index: 0;
  left: 0;
}
.opening-curtain.show:before {
  transform: translate(0, 0);
}
.opening-curtain:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translate(0, -100%);
  transition: transform cubic-bezier(0.215, 0.61, 0.335, 1) .6s;
  content: '';
}

.opening {
  display: block;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
.opening span {
  display: block;
  opacity: 0;
  transition: transform cubic-bezier(0.215, 0.61, 0.335, 1), opacity linear 0.7s;
}

.opening span:first-child {
  transform: translate(0, 0px);
  font-size: 20px;
  transition-delay: 0.35s;
}

.opening span:last-child {
  margin-top: 18px;
  transform: translate(0, 0);
  font-size: 48px;
  transition-delay: 0.6s;
}
.opening-curtain.show .opening span {
  opacity: 1;
  transform: translate(0, 0);
}

/*------home---------*/


#home {
  background-image: url(fig/strato.jpg);
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 0% 0% 0% 0%;
  /* min-height: 20vh; */
  /* height: auto; */
  position: inherit;
  margin-bottom: 50%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  overflow: hidden;
  /* z-index: -1000; */
}
/* .strato {
  background-image: url(fig/strato.jpg);
  width: 100%;
  height: 100vh;
  position: inherit;
  left: 0;

  background-repeat: no-repeat;
} */

#home h2 {
  margin-top: 400px;
  text-align: center;
  font-size: 3.0rem;
  font-family: 'Josefin Sans', sans-serif;

}

.grid-home {
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  width: 90%;
  margin-bottom: 7%;
  padding-top:  205px;
}

.home-explain {
  text-align: center;
  font-family: serif;
  font-weight: bold;
  margin-top: 100vh;
  margin-bottom: 10%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
  transition: all 0.8s;
  padding: 1% 5% 1% 5%;
}
.home-explain.show {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.home-item {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transform: translateX(-100px) translateY(100px) rotate(-30deg) scale(0.9, 0.9) ;
  transition: all 1.0s;
}

.home-item.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px) scale(1.0, 1.0);
}

.grid-home h4 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
  border-bottom: #0bd solid;

}

.grid-news{
  height: 30rem;
  overflow-y: scroll;
}

.grid-mon{
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 0;
}

.grid-context{
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: solid gray;
  border-width: 1px;
}


  
  

  /* study
------------------------------- */



#study {
  /* background-image: url(fig/top.jpg); */
  background-color: black;
  height: 110px;
  margin-bottom: 100px;
  margin-top: 0%;
  top: 0;
  left: 0;
  letter-spacing: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#band {
  background-image: url(fig/top_thin.jpg);
  top: 10px;
  height: 13%;
  width: 100%;
}

.mem-content {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  top: 0;
  left: 0;
  margin-left: 0;
  text-align: left;
}

.content-left {
  width: 16.5%;
  margin-top: 0%;
  height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  text-align: left;
  background-color: rgb(134, 132, 132);
}

.back-ground {
  background-image: url(fig/top.jpg);
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: -100;
  opacity: 0.4;
}

.back-ground-home {
  background-image: url(fig/top.jpg);
  height: 100%;
  width: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: -100;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: all 1.0s;

}

.back-ground-home.show {
  transform: translateX(0%);
  opacity: 0.4;
  visibility: visible;

}


.mem-menu {
  margin-top: 100%;
}

.content-right {
  width: 80%;
  padding: 1% 1% 1% 15%;
  margin-top: 0%;
}
#choice {
  width: 100%;
  padding: 10% 10% 10% 0%;
}
#choice ul {
  margin-left: 0;
}

#choice h4{
  width: 35%;
  font-size: 25px;
  left: 0;
}
.menu {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1% 13% 1% 1%;
  /* width: auto; */
}





.choice-button ul li {
  display: block;
  font-weight: bold;
  width: auto;
}

.choice-button ul a {
  font-size: 1.2rem;
  color: #000;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.choice-button ul a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.0px;
  background-color: #0bd;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  content: "";
}
.choice-button ul a:hover:after {
  transform: translate(0, 0);
}
.choice-button ul a:hover {
  color: #0bd;
}

.scroll-button {
  position: fixed;
  z-index: 1000;
  display: block;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  right: 0%;
  bottom: 2%;
  width: 100px;
  height: 100px;
  margin-top: 2%;
  margin-right: 2%;
  padding: 0.8%;
  color: #000;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  font-size: 40px;
  border-radius: 100%;
  border: solid 6px #000;
  box-shadow: 0 3px 10px rgb(0 0 0 / 100%);
}

.scroll-button p {
  margin-top: 5%;
  color: #000;
}

.scroll-button:after {
  content: "";
  display: block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.342);
  right: 0%;
  bottom: 2%;
  width: 100px;
  height: 100px;
  margin-top: 2%;
  margin-right: 2%;
  padding: auto;
  transform: translate(0%, 0%) scale(0, 0);
  transition: transform ease 0.4s;
  border-radius: 100%;
}
.scroll-button:hover:after {
  position: fixed;
  right: 0%;
  bottom: 2%;
  width: 100px;
  height: 100px;
  margin-top: 2%;
  margin-right: 2%;
  padding: auto;
  transform: translate(0%, 0%) scale(1.1, 1.1);
  border-radius: 100%;
}
.scroll-button:before {
  content: "";
  position: fixed;
  right: 0%;
  bottom: 2%;
  width: 100px;
  height: 100px;
  margin-top: 2%;
  margin-right: 2%;
  padding: auto;
  border-radius: 100%;
}
.scroll-button:hover:before {
  position: fixed;
  right: 0%;
  bottom: 2%;
  width: 100px;
  height: 100px;
  margin-top: 2%;
  margin-right: 2%;
  padding: auto;
}


.active {
  opacity: 1;
  visibility: visible;
}


.grid {
  display: grid;
  gap: 2.0rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 6px;
  margin-bottom: 50px;
  padding-top:  25px;
  width: 60rem;
  width: 100%;
}

.grade {
  margin-left: 100px;
  margin-bottom: 0px;
  font-size: 2.5rem;
  border-bottom: #0bd solid;
  width: 250px;
  text-align: center;
}
#theme {
  text-align: center;
  font-size: 30px;
}


.item {
  background-color: rgba(216, 245, 243, 0.815);
  color: #000;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 50%);

  margin-bottom: 5%;
  opacity: 0;
  transform: translateY(60px) rotate(10deg);
  visibility: hidden;
  transition: all 1s;
}

.item.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.item:hover {
  transform: scale(1.05, 1.05);
}

.item p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 0px;
}

.item h4 {
  text-align: center;
  font-size: 25px;
  margin: 0 0 0 0 ;
  /* border-bottom: black solid; */
  border-spacing: 0px;
}

.item h5 {
  font-size: 20px;
  margin: 0 0 0 0;
}

/* -------------記事部分------------ */

/* ----- study---- */

#study-article {
  text-align: center;
  margin-top: 15%;
  margin-left: 10%;
  width: 90%;
  opacity: 1;
  visibility: visible;
  /* transform: translateY(60px) rotate(10deg); */

}

.sub-menu-movile {
  opacity: 0;
  visibility: hidden;
  height: 0vh;
}


.post-info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}

.post-title {
  font-family: "Yu Mincho", "YuMincho", serif;
  font-size: 2.5rem;
  font-weight: normal;
  border-bottom: #0bd solid;
  text-align: center;
}

#study-article img {
  margin-bottom: 20px;
  height: auto;
  width: 100%;
  text-align: center;
}

article p {
  margin-bottom: 1rem;
}

.sub-title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
  margin-top: 100%;
  width: 100%;
}
.sub-title:hover {
  cursor: pointer;
  color: #0bd;
}

.sub-title {
  width: 90%;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.sub-menu a {
  text-align: center;
  font-size: 1.0rem;
  color: #000;
  font-weight: bold;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.sub-menu a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #0bd;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  content: "";
}
.sub-menu a:hover:after {
  transform: translate(0, 0);
}

.sub-menu h4:hover {
  color: #0bd;
}

aside p {
  padding: 12px 10px;
}

.sub-menu {
  margin-bottom: 60px;
  margin-left: 0px;
  list-style: none;
  text-align: left;
}


.sub-menu li {
  /* border-bottom: 1px solid cornflowerblue; */
  text-align: left;
  /* margin-right: 10px; */
}
.sub-menu a {
  color: #432;
  padding: 10px;
  display: block;
}
.sub-menu a:hover {
  color: #0bd;
}


/* link
------------------------------- */
.link{
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 15%;
  text-align: center;
  padding: 1% 2% 10% 2%
}
.link h3 {
  text-align: center;
  width: 100%;
}

.link-title {
  margin-bottom: 0px;
  font-size: 2.0rem;
  border-bottom: #0bd solid;
  width: 80%;
  text-align: center;
  margin-right: 5%;
}

.link p {
  font-size: 1.2em;
  margin-top: 10px;
  text-align: center;
}

.link h4 {
  margin-right: 5%;
  font-size: 1.5rem;
  text-align: center;
}
.link a {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #000;
  font-weight: bolder;
}

.link a {
  font-size: 1.2em;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.link a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0bd;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  content: "";
}
.link a:hover:after {
  transform: translate(0, 0);
}

.link a:hover {
  color: #0bd;
}



@media (max-width: 850px) {   /* 画面がちょっとばかしちっさいとき*/
  .menu {
    margin-right: 5%;
  }
  #home {
    height: 100vh;
    width: 100%;
  }
  #home h2 {
    margin-top: 40%;
  }
  .grid-home {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  }
  .content-left {
    width: 22%;
    margin-top: 10%;
  }
  #choice ul h4 {
    font-size: 20px;
  }
  .mem-menu li a {
    font-size: 16px;
  }
  .content-right {
    width: 60%;
    padding: 1% 1% 1% 30%;
    margin-top: 14%;
  }
  .grade {
    text-align: center;
    margin-left: 1%;
  }
  .post-title {
    font-size: 1.8rem;
  }
  #study-article {
    width: 100%;
  }

  .link {
    margin-top: 20%;
  }

  .link h4 {
    font-size: 1.2rem;
  }
  
  }

@media (max-width: 450px){  /*--   movile version   --*/

  .menu {
    padding: 1% 1% 1% 1%;
    left: 0;
  }

  .menu h4 {
    font-size: 12px;
  }
  .menu h1 {
    font-size: 1.3rem;
    padding: 1% 20% 1% 1%;
  }
  .hamburger {
    height: 3vh;
  }
  
  .sp-nav {
    width: 90%;
    text-align: center;
    margin-bottom: 10%;
    padding: 20% 10% 10% 10%;

  }
  .sp-nav li {
    box-shadow: 0 3px 10px rgb(11, 197, 221);
    padding: 1% 1% 1% 1%;
  }

  .sp-nav li a {
    border-radius: 10px;
    font-size: 1.3rem;
    /* background-color: rgba(180, 176, 176, 0.5); */
    /* padding: 1%; */
  }
  .sp-nav ul li:hover {
    transform: scale(1.0, 1.0) rotate(0deg);
    transition: transform 1.0s;
  }

  #home h2 {
    font-size: 1.2rem;
    margin-top: 80%;
  }
  #home-menu h4 {
    font-size: 0.5rem;
  }
  #home-menu h1{
    font-size: 1.2rem;
  }
  #home {
    width: 100%;
    height: 100vh;
  }
  .home-explain {
    margin-top: 85%;
  }
  .home-explain h2 {
    font-size: 1.0rem;
  }
  .home-explain p {
    font-size: 0.8rem;
    margin-top: 20%;
  }
  .home-item {
    width: 100%;
    /* padding: 1% 1% 1% 15%; */
    overflow: hidden;
    margin: 0%;
    margin-bottom: 5%;
  }
  .home-item h4 {
    font-size: 1.3rem;
  }
  
  #study {
    height: 80px;
  }
  .content-left {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
  .content-right {
    width: 100%;
    text-align: left;
    left: 0;
    margin-top: 15%;
    padding: 1% 10% 1% 1%;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .grade {
    padding: 1% 10% 1% 8%;
    width: 90%;
    font-size: 30px;
  }
  .item h5{
    font-size: 16px;
  }
  .item p {
    font-size: 15px;
  }

  #study-article {
    width: 80%;
  }

  .sub-menu-movile {
    opacity: 1;
    visibility: visible;
    height: 10%;
    list-style: none;
    display: grid;
    width: 100%;
    padding: 1% 1% 1% 1%;
    gap: 15px;
  }
  .sub-menu-movile li {
    padding: 1% 1% 1% 1%;
    background-color: rgba(97, 79, 79, 0.363);
    box-shadow: 0 3px 10px rgb(11, 197, 221);
    border-radius: 10px;
  }

  .sub-menu-movile li a{
    color: #000;
  }

  .link {
    margin-top: 25%;
  }
  .link-title {
    font-size: 1.5rem;
  }
  .link h4 {
    font-size: 1.0rem;
    background-color: rgba(97, 79, 79, 0.363);
    box-shadow: 0 3px 10px rgb(11, 197, 221);
    border-radius: 10px;

  }
  .link p {
    font-size: 0.9rem;
  }

  
}


